* {
	padding:0;
	margin:0;
}
body {
	background-color: #333;
}
header {
	height: 70px;
	background-color: #222;
	text-align: center;
}
.container ul li {
	text-align: center;
	background-color: #222;
	list-style: none;
	float: left;
	width: 16.6%;
	max-width: 1000px;
	margin: 2% 0 0 2%;
	padding: 0.5%;
}
.container ul li a {
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	color: #ccc;
	font-size: 14px;
}
.container ul li a img{
	max-width: 100%;
	/*margin: 2% 2% 0 2%;*/
}
footer {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #555;
}
#footer_text {
	font-family: 'Roboto', sans-serif;
	padding: 5px;
}
/* Media Quaries*/
@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
	.container ul li {
		width: 21.5%;
	}
}
@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
	.container ul li {
		width: 29.66666%;
	}
}
@media only screen and (max-width : 640px),
only screen and (max-device-width : 640px){
	.container ul li {
		width: 46%;
	}
}
@media only screen and (max-width : 480px),
only screen and (max-device-width : 480px){
	.container ul li {
		width: 95%;
	}
}