:root {
	--bg-color: #555;
	--black-color: #222;
}
* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}
body {
	background-color: var(--bg-color);
}
.header-top {
	display: flex;
	align-items: center;
	height: 70px;
	background-color: var(--black-color);
}
.logo {
	margin-left: 10px;
	margin-right: 10px;
}
.selector {
	margin-left: auto;
}
#shot-choice {
	font-family: 'Oswald';
	font-size: 18px;
	width: 160px;
	background-color: #444;
	color: #ccc;
	padding: 5px;
	cursor: pointer;
	border: none;
}
#shot-choice:hover {
	background-color: #555;
	color: #fff;
}
.submit-button {
	margin-left: 20px;
	margin-right: 20px;
}
.submit-button button {
	font-family: 'Oswald';
	font-size: 18px;
	background-color: #444;
	color: #ccc;
	border: none;
	border-color: #ccc;
	border-width: 1px;
	padding: 5px;
	cursor: pointer;
	width:100px;
}
.submit-button button:hover {
	background-color: #555;
	color: #fff;
}
.wrapper {	
	color: #000;
	background-color: var(--bg-color);
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(0 auto);
	margin: 1%;
}
.wrapper-cell {
	padding: 2%;
	background-color: var(--bg-color);
}
.wrapper-cell:hover {
	padding: 0;
}
.card {
	text-decoration: none;
	display: grid;
	width: 100%;
	height: 100%;
	background-color: var(--black-color);
	border-radius: 8%;
}
.card-img img {
	width: 94%;
	margin: 3% 3% 0 3%;
	border-radius: 5%;
}
.card-name {
	display: flex;
	text-align: center;
	justify-content: center;
	margin: 3% 10% 5% 10%;
	font-family: 'Oswald', sans-serif;
	color: #ccc;
	font-weight: bold;
	font-size: 18px;
}
/* Media Quaries*/
@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
	.wrapper {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
	.wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media only screen and (max-width : 640px),
only screen and (max-device-width : 640px){
	.wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media only screen and (max-width : 480px),
only screen and (max-device-width : 480px){
	.wrapper {
		grid-template-columns: repeat(1, 1fr);
	}
}